[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
notebook = "*"
openai = "*"
scikit-learn = "*"
pandas = "*"
jupyterlab = "*"
minsearch = "*"
requests = "*"
elasticsearch = "==8.17"
tiktoken = "*"
python-dotenv = "*"
dlt = {extras = ["qdrant"], version = "*"}
qdrant-client = {extras = ["fastembed"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
